<h1>Pick Your Friends</h1>
<div class="row-fluid">
<ul class="thumbnails">
  <% @friends.sort_by!{ |f| f['name'] }.each do |f| %>
  <% if FriendPage.find_by_fb_id(f['id']).nil? %>
    <li class="span5">
     <% @img = f["picture"]['data']['url'] %>
      <div class="thumbnail">
  <div style="background-image:url('<%= @img %>'); background-size: cover; background-position: 50%"></div>
  <% @id = f['id'] %>
  <p><strong><%= @name = f['name'] %></strong></p>
       </div>
         <%= render 'friend_pages/new_friend' %>
    </li>
  <% end %>
 <% end %>
</ul>
</div>
