<%# <h1>This is  <%= @friend_page.name %1></h1> %>
<div class="row-fluid">
  <div class="span5">
    <%= image_tag @friend_page.img %>
  </div>
  <div class="span5">
    <h1>Notes</h1>
    <%= render 'friend_pages/notes' %>
  </div>
</div>
<div class="row-fluid">
  <div class="span4">
  </div>
</div>
